{% extends "base.html" %}

{% block title %} PDF Desbloqueado {% endblock title %}

{% block content %}

 	<h1 class="text-center display-5 mb-4">Contraseña eliminada</h1>

	{% if pdf_decrypt %}
		<div class="d-flex justify-content-center mt-3">
			<div class="card " style="width: 28rem;">
			  <div class="card-body text-center">
			    <h5 class="card-title text-center">PDF Desencriptado</h5>
			    <p class="card-text">
			    	
			    </p>
			    <a href="{{ pdf_decrypt }}" download="pdf_desencriptado.pdf" class="btn btn-outline-success mt-3">Descargar</a>
			  </div>
			</div>
		</div>
	{% endif %}
	

{% endblock content %}